# Server port configuration
PORT=3000

# Application environment (development | production)
APP_ENV=development

# JWT configuration
JWT_SECRET=your-jwt-secret-key-here # do not use example value
# JWT_EXPIRES_IN=1d  # e.g., '1h' for 1 hour or '7d' for 7 days
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=604800

# Refresh token configuration
# REFRESH_TOKEN_SECRET=your-refresh-token-secret-here # do not use example value
# REFRESH_TOKEN_EXPIRES_IN=604800  # Must be in seconds

# MongoDB configuration
MONGO_URI=mongodb://username:password@localhost:27017/?retryWrites=true&authSource=admin

# SMTP gmail configuration
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-email-app-password

# Project Details
PROJECT_NAME=My Project
BACKEND_URL=http://localhost:3000
SALT_ROUND=10
